body {
  box-sizing: border-box;
  padding-top: 36px;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-sizing: border-box;
}

.search-form input {
  box-sizing: border-box;
  padding: 8px 16px;
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;

  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.search-form input::placeholder {
  color: #808080;
}

.search-form input:hover {
  border: 1px solid #000;
}

.search-form input:focus-visible {
  border: 1px solid #4e75ff;
  outline: none;
}

.search {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: #4e75ff;
  border: none;
  cursor: pointer;

  color: #fff;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search:hover {
  background: #6c8cff;
}

.gallery-list {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  max-width: 360px;
  border: 1px solid #808080;

  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px #0000001a;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item:hover {
  transform: scale(1.05);
}
.gallery-link {
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.wrapper {
  max-width: 100%;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
}

.wrapper li {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #2e2f42;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
  letter-spacing: 0.48px;
}

.wrapper li span {
  font-weight: 400;
  line-height: 2; /* 200% */
}
